<div class="col-xs-12">
    <h2>La liste des appareils</h2>

    <p>Mis à jour : {{ lastUpdate | async | date: 'y MMMM EEEE d' | uppercase }}</p>

    <ul class="list-group">
	<app-appareil  *ngFor="let un_appareil of les_appareils; let i = index"
		       [appareilName]="un_appareil.name"
		       [appareilStatus]="un_appareil.status"
		       [indexOfAppareil]="i" 
		       [id]="un_appareil.id">
	</app-appareil>
    </ul>
    
    <button class="btn btn-success"
	    [disabled]="!isAuth"
	    (click)="onAllumer()">Tout allumer</button>
    <button class="btn btn-danger"
	    [disabled]="!isAuth"
	    (click)="onEteindre()">Tout éteindre</button>
    <button class="btn btn-success"
	    [disabled]="!isAuth"
	    (click)="onSauvegarder()">Enregistrer</button>
    <button class="btn btn-success"
	    [disabled]="!isAuth"
	    (click)="onRecuperer()">Récupérer les appareils</button>
    
</div>
